@page "/Profesores"
@rendermode InteractiveServer
@inject IProfesorRepositorio RepositorioProfesor
@inject Sesion UsuarioSesion
@inject NavigationManager Navegador

<PageTitle>Profesores</PageTitle>

@if (!UsuarioSesion.EstaAutenticado())
{
    <p>No tenés acceso. <NavLink href="/Login">Iniciar sesión</NavLink></p>
}
else
{
    <h2>Profesores</h2>

    <p>Bienvenido, @UsuarioSesion.UsuarioActual!.Nombre</p>
    <button class="btn btn-danger" @onclick="CerrarSesion">Cerrar sesión</button>
    <button class="btn btn-success" @onclick="CrearProfesor">Registrar profesor</button>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in profesor)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Nombre</td>
                    <td>@p.Apellido</td>
                    <td>@p.Dni</td>
                    <td>
                        <button class="btn btn-primary"
                                @onclick="() => Editar(p.Id)">
                            Editar
                        </button>

                        <button class="btn btn-danger"
                                @onclick="() => ConfirmarEliminacion(p.Id)">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>

   
}

@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-danger">@mensaje</div>
}

@if (mostrarDialog)
{
    <div class="modal show d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar eliminación</h5>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que querés eliminar este profesor?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="() => mostrarDialog = false">Cancelar</button>
                    <button class="btn btn-danger" @onclick="Eliminar">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
}

    
@code {

    string mensaje = "";
    bool mostrarDialog = false;
    int idAEliminar;
    bool quiereAgregar = false;
    Datos pro = new Datos();

    void MostrarMensaje(string msj)
    {
        mensaje = msj;
    }


    List<Profesor> profesor = new List<Profesor>();

    protected override void OnInitialized()
    {
        profesor = ListarProfesoresUseCase.Ejecutar()!;
    }
    void CerrarSesion()
    {
        UsuarioSesion.CerrarSesion();
        Navegador.NavigateTo("/Login", true);
    }

    void CrearProfesor()
    {
        quiereAgregar = true;
    }

    public void Editar(int Id)
    {
        Navegador.NavigateTo($"/editar-profesor/{Id}");
    }

    void ConfirmarEliminacion(int Id)
    {
        idAEliminar = Id;
        mostrarDialog = true;
    }

    void Eliminar()
    {
        mostrarDialog = false;
        try
        {
            EliminarProfesorUseCase.Ejecutar(idAEliminar, UsuarioSesion.UsuarioActual!.Id);
            profesor = ListarProfesoresUseCase.Ejecutar()!;
            MostrarMensaje("Profesor eliminado correctamente.");
        }
        catch (Exception ex)
        {
            MostrarMensaje(ex.Message);
        }

    }

    void Aceptar()
    {
        try
        {
            CrearProfesorUseCase.Ejecutar(pro.nombre, pro.apellido, pro.dni, UsuarioSesion.UsuarioActual!.Id);
            profesor = ListarProfesoresUseCase.Ejecutar()!;
            MostrarMensaje("Profesor creado correctamente.");
            quiereAgregar = false;
        }
        catch (Exception ex)
        {
            MostrarMensaje(ex.Message);
        }
    }

    void Cancelar()
    {
        quiereAgregar = false;
        mensaje = "";
    }

    public class Datos
    {
        public string nombre { get; set; } = "";
        public string apellido { get; set; } = "";
        public double dni { get; set; }
    }
}
