
@page "/usuarios"
@rendermode InteractiveServer
@inject IUsuarioRepositorio RepositorioUsuario
@* @inject EliminarUsuarioUseCase EliminarUsuariosCase *@
@inject Sesion UsuarioSesion
@inject NavigationManager Navegador

<PageTitle>Centro de Eventos</PageTitle>

@if (!UsuarioSesion.EstaAutenticado())
{
    <p>No tenés acceso. <NavLink href="/Login">Iniciar sesión</NavLink></p>
}
else
{
    <h2>Usuarios</h2>

    <p>Bienvenido, @UsuarioSesion.UsuarioActual!.Nombre</p>
    <button class="btn btn-danger" @onclick="CerrarSesion">Cerrar sesión</button>
    <input type="text" class="form-control mb-3" placeholder="Buscar por DNI o nombre" @bind="numeroBusquedaTexto" @bind:event="oninput" />

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Permisos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in usuariosFiltrados)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nombre</td>
                    <td>@u.Apellido</td>
                    <td>@u.Email</td>
                    <td>@u.Dni</td>
                    <td>@u.Domicilio</td>
                    <td>
                        <button class="btn btn-primary"
                                @onclick="() => VerReservas(u.Id)">
                            Editar
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>

   
}

    
@code {
    string numeroBusquedaTexto = "";

    string mensaje = "";
    bool mostrarDialog = false;
    int idAEliminar;

    void MostrarMensaje(string msj)
    {
        mensaje = msj;
    }


    List<Usuario> usuarios = new List<Usuario>();
    
    protected override void OnInitialized()
    {
        usuarios = ListarUsuariosUseCase.Ejecutar()!;
    }
    void CerrarSesion()
    {
        UsuarioSesion.CerrarSesion();
        Navegador.NavigateTo("/Login", true);
    }

    public void VerReservas(int Id)
    {
        Navegador.NavigateTo($"/reservas/{Id}");
    }

    IEnumerable<Usuario> usuariosFiltrados =>
    string.IsNullOrWhiteSpace(numeroBusquedaTexto)? usuarios : usuarios.Where(u => (int.TryParse(numeroBusquedaTexto, out int dni) && u.Dni == dni) || u.Nombre.Contains(numeroBusquedaTexto, StringComparison.OrdinalIgnoreCase));
}
