@page "/MisReservas"
@rendermode InteractiveServer
@inject GenerarQrUseCase GenerarQRUseCase
@inject IReservaRepositorio ReservaRepositorio
@inject Sesion UsuarioSesion

<PageTitle>Mis Reservas</PageTitle>

<h3>Mis Reservas</h3>

@if (!UsuarioSesion.EstaAutenticado())
{
    <p>No estás logueado.</p>
    <NavLink href="/login">Iniciar sesión</NavLink>
}
else if (reservas == null)
{
    <p>Cargando reservas...</p>
}
else if (!reservas.Any())
{
    <p>No tenés reservas registradas.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Cancha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in reservas)
            {
                <tr>
                    <td>@r.Turno?.Actividad?.Nombre</td>
                    <td>@r.Turno?.Fecha</td>
                    <td>@r.Turno?.HoraInicio</td>
                    <td>@r.Turno?.Cancha?.Numero</td>
                    <td>@r.Estado</td>

                    <td>
                        <button class="btn btn-primary btn-sm me-1"
                                @onclick="() => GenerarQr(r.Id)">
                            Generar QR
                        </button>

                        <button class="btn btn-danger btn-sm"
                                @onclick="() => Cancelar(r.Id)">
                            Cancelar reserva
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Reserva>? reservas;

    protected override async Task OnInitializedAsync()
    {
        if (UsuarioSesion.UsuarioActual != null)
        {
            reservas = (await ReservaRepositorio.ObtenerPorUsuarioAsync(
                UsuarioSesion.UsuarioActual.Id,
                null,
                null,
                true // incluir pasadas si quieres historial
            )).ToList();
        }
    }

    string error = "";
    private byte[] qrCode = Array.Empty<byte>();
    async Task GenerarQr(int reservaId)
    {
        error = "";
        try
        {
            qrCode = await GenerarQRUseCase.Ejecutar(reservaId);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task Cancelar(int idReserva)
    {

    }
}